*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.study {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
}

.study h3 {
    font-size: 24px;
    color: green;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
}
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 185px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}
body{
    background: linear-gradient(to right, #10e14f,#ff3276);
    color: rgb(34, 34, 34);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 320px;
    height: 520px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    cursor: pointer;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0,0, 0.13);
}
.card::before{
    content: "";
    position: absolute;
    top: 2%;
    width: 95%;
    height: 120px;
    z-index: 1;
    border-radius: 10px 10px 0 0 ;
    background: #14cd21;
    box-shadow: 0 0 20px rgba(0, 0,0, 0.13);
    transform-origin: bottom;
    transition: transform .4s;
}
.card:hover::before{
    transform: translateY(-5px) scaleY(1.2);
}
.card .img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 10;
    transform: translateY(50px);
    border: 10px solid #fff;
    overflow: hidden;
    position: absolute;
    background: #fff;
}
.card .img img{
    width: 120%;
    height: 120%;
    transform: translate(-8%,-8%);
}
.content{
    width: 100%;
    height: 100%;
    transform: translateY(170px);
    display: flex;
    flex-direction: column;
    z-index: 20;
    align-items: center;
}
.ocupacion {
    width: 100%;
    height: 100%;
    transform: translateY(250px);
    display: flex;
    flex-direction: column;
    z-index: 20;
    align-items: center;
    color:rgb(26, 201, 154)
}
.content p{
    margin:  0 0;
}

.center{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.box{
    padding: 10px 30px;
    border-radius: 10px;
    text-align: center;
}
.box:hover{
    background-color: rgba(128, 128, 128, 0.137);
}
.btn{
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    transform: translateY(10px);
    background: cornflowerblue;
    color: #fff;
    font-weight: 600px;
    box-shadow: 0 0 20px rgba(0, 0,0, 0.13);
    cursor: pointer;
}
.btn:hover{
    background: rgb(26, 201, 154);
}