*{background-image: url(fondo2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: antiquewhite;
}
h1{
    color:chocolate;
    text-align: center;
}
h3{
    color: ghostwhite;
    text-align: center;
}
#FrontvsBack{
    color: darkorange;
    text-align: center;
}
#NavegadoresTitulo{
    color: darkorange;
    text-align: center;
}
#Top {
    color:darkorange;
    text-align:center;
}
#Top10{
    text-align: center;
}
#Chrome{
    text-align: center;
}
#Mozilla{
    text-align: center;
}
#BotonTop{
    position:relative;
    right: 46%;
    left: 46%;
}
#BotonVolverTop{
    position: relative;
    right: 47%;
    left: 47%;
}
#BotonFront{
    position: relative;
    right: 35%;
    left: 35%;
}
#OcultarFront{
    position: relative;
    right: 36%;
    left: 36%;
}
#MostrarDiferencias{
    position: relative;
    right: 37%;
    left: 37%;
}
#OcultarDiferencias{
    position: relative;
    right: 38%;
    left: 38%;
}
#MostrarBack{
    position: relative;
    right: 39%;
    left: 39%;
}
#OcultarBack{
    position: relative;
    right: 40%;
    left: 40%;
}