/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
  }
  
  /* Estilos para encabezados h1 */
  h1 {
    color: #00ff66; /* Azul brillante */
  }
  
  /* Estilos para párrafos dentro de un div con la clase "contenido" */
  .contenido p {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Estilos para enlaces */
  a {
    text-decoration: none;
    color: #d9534f; /* Rojo */
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para listas desordenadas dentro de un elemento con la clase "lista" */
  .lista ul {
    list-style-type: square;
  }
  
  /* Estilos para elementos de lista dentro de la clase "lista" */
  .lista li {
    font-weight: bold;
  }
  
  /* Estilos para imágenes dentro de la clase "imagen" */
  .imagen img {
    max-width: 100%;
    height: auto;
    border: 2px solid #5bc0de; /* Azul claro */
  }
  