/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  /* Estilos para la caja */
  .caja {
    width: 300px;
    height: 150px;
    padding-top: 10px;    /* Relleno en la parte superior */
    padding-right: 20px;    /* Relleno en el lado derecho */
    padding-bottom: 10px;   /* Relleno en la parte inferior */
    padding-left: 20px;   /* Relleno en el lado izquierdo */
    border: 2px solid #333;
    background-color: #f4f4f4;
    box-sizing: border-box;
    margin: 20px;
  }
  
  /* Estilos para los elementos dentro de la caja */
  h2 {
    color: #008080;
  }
  
  p {
    color: #333;
  }
  